# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

local_run/
out/
.vscode/
.Rhistory
dumped_envs/
calibration_initial_SOC/envs
calibration_initial_SOC/unique_combinations_plus.csv
calibration_initial_SOC/unique_combinations_test.csv
calibration_initial_SOC/optparams_unique_combinations_test.csv
calibration_initial_SOC/optparams_unique_combinations_OID.csv
calibration_initial_SOC/test_calibration_results
sensitivity_analysis/test_dump_out
sensitivity_analysis/out-runs
params_uncertainty/climate_files
params_uncertainty/crop_files
params_uncertainty/param_files
params_uncertainty/sim_files
params_uncertainty/site_files
params_uncertainty/observations.csv
params_uncertainty/old
params_uncertainty/DEMCz.csv
params_uncertainty/observations*
params_uncertainty/*.png

*.pyc
